<div class="container">
    {{!-- fila1 --}}
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center login">

        <div class="rounded bg-white shadow p-5">
            <h3>Hola {{persona}}!</h3>

            <div class="col-12 mt-3">
                <a href="/admin/login/logout" class="btn btn-dark">Cerrar sesión</a>
            </div>

        </div>

    </div>
    {{!-- finfila1 --}}
    {{!-- fila2 --}}
    <div class="row">
        <div class="col-7 text-left">
            <h2>Listado de Novedades</h2>
        </div>
        
{{!-- agregada barra buscadora --}}
        <nav class="navbar bg-light col-9 text-left">
  <div class="container-fluid">
    <form class="d-flex" role="search" action="/admin/novedades" method="get">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}}value="{{q}}"{{/if}}>
      <button class="btn btn-dark" type="submit">Buscar</button>
    </form>
  </div>
</nav>
{{!-- agregada barra buscadora fin --}}
        <div class="col-3 text-left">
            <a href="/admin/novedades/agregar" class="btn btn-dark">Nuevo</a>
        </div>
    </div>
    {{!-- finfila2 --}}
    {{!-- iniciofila3 --}}
    <div class="row my-5">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col-3">#</th>
                        <th scope="col-6">Titulo</th>
                        <th scope="col-6">Imagen</th>
                        <th scope="col-3" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-right">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-dark">modificar</a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-dark">eliminar</a>
                        </td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>

            {{#if is_search}}
            {{#unless novedades.length}}
            No se encontraron resultados para "<b>{{q}}</b>"
            {{/unless}}
            {{/if}}
        </div>
    </div>
    {{!-- finfila3 --}}

</div>